@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 300px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 4px 10px 10px #ad3737;
    border-radius: 20px;
}

form img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

form input[type="text"], input[type="password"] {
    outline: 0;
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
}

form label{
    font-weight: 500;
    padding: 10px;
}

.box-visible{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    outline: 0;
    border: 0;
    background-color: #df0707;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #ccc;
    font-weight: 500;
} 

form button:hover{
    opacity: .75;
}